body{
    text-align: center;
    background: linear-gradient(black 38%, cyan 80%);
}
img{
    width:160px;
}
h2{
    letter-spacing: 30;
    
}
.my_nav_bar
{
    position:sticky;
    top:0;
    z-index:99999
}
#contact{
    cursor: pointer;
    background-color: black;
    color: aqua;
}
#mar{
    background-color: cyan;
    color: black;
}